# By default ignore everything
*

# Whitelist specific files
!.gitignore
!index.php

# Whitelist these directories and all their contents
!css/
!css/**
!add_ons/
!add_ons/**
!articles/
!articles/**
!histories/
!histories/**
